@inject NavigationManager navi

<header id="header" class="header d-flex align-items-center fixed-top">

    <Bar Breakpoint="Breakpoint.Desktop" Width="Width.Is100" Margin="Margin.Is5.OnX">
        <BarBrand Width="Width.Is33">
            <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
                <h1 class="sitename">BlazorTest V2</h1>
                <span>.</span>
            </a>
        </BarBrand>
        <BarToggler />
        <BarMenu>
            <BarStart Padding="Padding.Is5.OnX">
                <BarItem>
                    <BarLink To="Index" Class="text-white">Home</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="MyUrl" Class="text-white">My URL</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="Member" Class="text-white">Membership</BarLink>
                </BarItem>
            </BarStart>

            <BarEnd>
                <BarItem>
                    <Button Class="btn-getstarted" @onclick="HandleLogon">Log on</Button>
                </BarItem>
            </BarEnd>
        </BarMenu>
    </Bar>

</header>

@code {
    private void HandleLogon()
    {
        navi.NavigateTo("/Logon");
    }

}







