@using Microsoft.AspNetCore.Components.Authorization
@using BlazorTestV2.Service
@using System.Timers
@inject NavigationManager navi
@inject AuthenticationStateProvider provider
@inject MySyncService sync
@inject IJSRuntime jscript

<script>
    // Javascript 呼叫靜態的 C# 函數 
    window.WelcomeOnClient = () => {
        DotNet.invokeMethodAsync('BlazorTestV2', 'WelcomeOnServer')
            .then(data => {
                alert('' + data);
            });
    };

    // Javascript 呼叫非靜態的 C# 函數
    function ILikeOnClient() {
        NetHelpers.ILikeOnHelper();
        // Invoke to call C# function from JavaScript.
        //DotNet.invokeMethodAsync('BlazorAuth', 'JsUserChanged');
    }

    class NetHelpers {
        static dotNetHelper;

        static setDotNetHelper(value) {
            NetHelpers.dotNetHelper = value;
        }

        static async ILikeOnHelper() {
            await NetHelpers.dotNetHelper.invokeMethodAsync('ILikeOnServer');
        }
    }

    window.NetHelpers = NetHelpers;
</script>

<header id="header" class="header d-flex align-items-center fixed-top">

    <Bar Breakpoint="Breakpoint.Desktop" Width="Width.Is100" Margin="Margin.Is5.OnX">
        <BarBrand Width="Width.Is33">
            <a href="/" class="logo d-flex align-items-center me-auto me-lg-0">
                <h1 class="sitename">BlazorTest V2</h1>
                <span>.</span>
            </a>
        </BarBrand>
        <BarToggler />
        <BarMenu>
            <BarStart Padding="Padding.Is5.OnX">
                <BarItem>
                    <BarLink To="Index" Class="text-white m-2 h5">Home</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="MyUrl" Class="text-white m-2 h5">My URL</BarLink>
                </BarItem>
                <BarItem>
                    <BarLink To="Member" Class="text-white m-2 h5">Membership</BarLink>
                </BarItem>                
            </BarStart>

            <BarEnd>
                <BarItem>
                    <AuthorizeView>
                        <Authorized>
                            <Text TextColor="TextColor.White">
                                <a onclick="WelcomeOnClient();">Welcome ! </a>
                                @context.User?.Identity?.Name</Text>
                             <Button Class="btn-getstarted h5" @onclick="HandleLogout">Log out</Button>
                        </Authorized>
                        <NotAuthorized>
                            <Button Class="btn-getstarted h5" @onclick="HandleLogon">Log on</Button>
                        </NotAuthorized>
                    </AuthorizeView>
                    <Text TextColor="TextColor.Secondary" Class="m-3 h5">@(VistorCount.ToString() + " visitors online.")</Text>
                    <a onclick="ILikeOnClient();">
                        <Icon Name="IconName.Heart" IconStyle=@(IsLike? IconStyle.Solid : IconStyle.Regular) IconSize="IconSize.Large" Style=@(IsLike? "color:red;" : "") />
                    </a>
                </BarItem>
            </BarEnd>
                
        </BarMenu>
    </Bar>

</header>

@code {
    private int VistorCount => sync.GetVisitorCount();
    private System.Timers.Timer _timer;
    #region IJSRuntime Testing
    static string WelcomeMsg = "Welcome to My Short URL. Here is the most eazy way to make and share your short URL.";
    bool IsLike { get; set; } = false;
    private DotNetObjectReference<MyNavi>? dotNetHelper;
    #endregion

    protected override async Task OnInitializedAsync()
    {
        sync.OnVisitorChanged += this.OnVisitorChanged;
        sync.OnUserChanged += this.OnUserChanged;

        /*_timer = new();
        _timer.Interval = 4000; //每4秒更新一次
        _timer.Elapsed += new ElapsedEventHandler(OnTimedEvent1);
        _timer.Enabled = true;
        _timer.Start();*/
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            dotNetHelper = DotNetObjectReference.Create(this);
            await jscript.InvokeVoidAsync("NetHelpers.setDotNetHelper",
                dotNetHelper);
        }
    }

    public void Dispose()
    {
        dotNetHelper?.Dispose();
    }

    public async void OnTimedEvent1(object source, ElapsedEventArgs e)
    {
        var myProvider = (MyAuthenticationStateProvider)provider;
        await myProvider.CheckAuthenticationState();
    }


    private async Task HandleLogon()
    {
        string fruit = await jscript.InvokeAsync<string>("prompt", new string[] { "What's your favorite fruit?", "apple" });
        if (!string.IsNullOrEmpty(fruit))
        {
            bool confirmed = await jscript.InvokeAsync<bool>("confirm", $"OK, I know your favorite fruid is \"{fruit}\". Do you want to log in? ");
            if (confirmed)
                navi.NavigateTo("/Logon");
        }
    }

    private async Task HandleLogout()
    {
        var myProvider = (MyAuthenticationStateProvider)provider;
        await myProvider.UpdateState(null);
    }

    private async void OnUserChanged(object? sender, EventArgs e)
    {
        var myProvider = (MyAuthenticationStateProvider)provider;
        await myProvider.CheckAuthenticationState();
    }

    private void OnVisitorChanged(object? sender, EventArgs e)
    {
        InvokeAsync(StateHasChanged);
    }

    [JSInvokable]
    public static Task WelcomeOnServer()
    {
        return Task.FromResult(WelcomeMsg);
    }

    [JSInvokable]
    public async Task ILikeOnServer()
    {
        IsLike = !IsLike;
        InvokeAsync(StateHasChanged);
    }

}







